.faqForm{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    direction: rtl;
}

.faqForm label{
    color: #444;
    margin-top: 20px;
    margin-bottom: 3px;
    font-size: 1.5rem;
}
.faqForm input{
    width: 30%;
    height: 45px;
    padding: 10px;
    color: #444;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.5rem;
}
.faqForm input[type="email"]{
    direction: ltr;
}
.faqForm input[specity="contactNumber"]{
    direction: ltr;
}
.faqForm textarea{
    width: 40%;
    height: 200px;
    margin-top: 20px;
    direction: rtl;
   font-size: 1.4rem;
   padding: 10px;
   border: 1px solid #ccc
}

.faqForm button{
    margin-top: 20px;
}

.errorMessage{
    background-color: #eb2f06;
    color: azure;
    padding: 2px;
}