.divider{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.divider h1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid gray;
    padding: 20px;
    border-radius: 10px;
    box-shadow:inset 0px 0px 4px 2px rgb(167, 119, 31);
}