.divider{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.divider h1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid  rgb(234, 84, 85);
    padding: 20px;
    border-radius: 10px;
    box-shadow:inset 0px 0px 4px 2px rgb(255, 212, 96);
}