/* .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
   flex-direction: row-reverse;
   background-color: #1B1464;
   color: #fff;
   height: 100px;
}

.navbar #rightSide {
    flex: 8;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.navbar #rightSide a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}
.navbar #leftSide {
    justify-content: space-around;
    flex: 4;
    padding: 20px;
} */