
.acc{
    background-image: url(../../assets/images/berlin-brandenburg.jpg);
    background-size:cover;
    background-color: #2D4059;
    background-blend-mode:luminosity;
    background-attachment: fixed;
}