
.acc{
    background-image: url(../../assets/images/faqBg02.jpg);
    background-size: cover;
    background-color: rgb(112, 82, 25);
    /* background-blend-mode: luminosity; */
    background-attachment: fixed;
}