@font-face {
  font-family: 'IRANSansWebBold';
  src: local('IRANSansWebBold'), url(./fonts/IRANSansWebBold.ttf) format('truetype');
}
 *{
  font-family: IRANSansWebBold;
  direction: rtl;
  box-sizing: border-box;
 }
body {
  direction: rtl;
  margin: 0;
  font-family: IRANSansWebBold,  Helvetica, sans-serif ,Arial   -apple-system, BlinkMacSystemFont,   'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  margin:  0 auto;
}

*{
  box-sizing: border-box;
  padding: 0;
}

h1{
  font-weight: 800;
}










