.questionCards{
    margin-top: 20px ;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}





.questionCards > div{
    width: 18%;
}

